/* @media (max-width: 1480px) {
    header {
        padding: 12px 2.5%;
        transition: .1s;
    }
    header.sticky{
        padding: 10px 2.5%;
        transition: 1s;
    }
    section{
        padding: 110px 2.5% 60px; 
    }
}

@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: 1s;
    }
}

@media (max-width: 920px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }

    .navlist a {
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }

    .navlist.open {
        top: 100%;
    }

    header.head {
        background: var(--bg-color);
    }

    header.sticky {
        padding: 8px 5%;
        background: var(--bg-color);
    }
} */

/* @media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}
@media (min-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
} */